<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="supportedCultures" type="PhlegmaticOne.MusicPlayer.UI.WPF.ConfigurationSections.SupportedCulturesSection.CultureConfigurationSection, PhlegmaticOne.MusicPlayer.UI.WPF" />
	</configSections>

	<connectionStrings>
		<add connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=music-player-db;Integrated Security=True;" name="sql-connection-string"/>
	</connectionStrings>
	
	<supportedCultures>
		<cultures>
			<culture name="en-US"></culture>
			<culture name="ru-RU"></culture>
		</cultures>
	</supportedCultures>
</configuration>