<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="supportedCultures" type="PhlegmaticOne.MusicPlayer.UI.WPF.ConfigurationSections.SupportedCulturesSection.CultureConfigurationSection, PhlegmaticOne.MusicPlayer.UI.WPF" />
	 <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="PhlegmaticOne.MusicPlayer.UI.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>

	<connectionStrings>
		<add connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=music-player-db;Integrated Security=True;" name="sql-connection-string"/>
	</connectionStrings>
	
	<supportedCultures>
		<cultures>
			<culture name="en-US"></culture>
			<culture name="ru-RU"></culture>
		</cultures>
	</supportedCultures>
 <userSettings>
  <PhlegmaticOne.MusicPlayer.UI.WPF.Properties.Settings>
   <setting name="DefaultLanguage" serializeAs="String">
    <value>en-US</value>
   </setting>
   <setting name="DownloadDirectoryPath" serializeAs="String">
    <value />
   </setting>
  </PhlegmaticOne.MusicPlayer.UI.WPF.Properties.Settings>
 </userSettings>
</configuration>